In [1]:
# import the rquired library in the dataset 
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns 
import warnings
warnings.filterwarnings('ignore')

In [2]:
## loading the dataset in the dataframe format 
data=pd.read_csv('Fish.csv')
data.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [3]:
# checking the null \values in the dataset 
data.isnull().sum()

Species    0
Weight     0
Length1    0
Length2    0
Length3    0
Height     0
Width      0
dtype: int64

In [4]:
## showing the mathematical summary of the data 
data.describe()

            Weight     Length1     Length2     Length3      Height       Width
count   159.000000  159.000000  159.000000  159.000000  159.000000  159.000000
mean    398.326415   26.247170   28.415723   31.227044    8.970994    4.417486
std     357.978317    9.996441   10.716328   11.610246    4.286208    1.685804
min       0.000000    7.500000    8.400000    8.800000    1.728400    1.047600
25%     120.000000   19.050000   21.000000   23.150000    5.944800    3.385650
50%     273.000000   25.200000   27.300000   29.400000    7.786000    4.248500
75%     650.000000   32.700000   35.500000   39.650000   12.365900    5.584500
max    1650.000000   59.000000   63.400000   68.000000   18.957000    8.142000

In [5]:
### shape of the dataset 
data.shape

(159, 7)

In [6]:
## types of the column 
data.dtypes

Species     object
Weight     float64
Length1    float64
Length2    float64
Length3    float64
Height     float64
Width      float64
dtype: object

In [7]:
##  loading the machine learning algorithmm Suppot vector machine using th sklearn library 
import sklearn
from sklearn.model_selection import train_test_split
# from sklearn.svm import LinearSVC
from sklearn.metrics import confusion_matrix
from sklearn import svm 
from sklearn.svm import SVC

In [8]:
## creating the independent and dependent features 
x=data.iloc[:,1:]## independent featuures 
y=data.iloc[:,0] ## dependent data

In [9]:
## partitiing the dtaa into train nad test 
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=10)

In [10]:
## visualization of the Xtrain value 
x_train.head()

     Weight  Length1  Length2  Length3   Height   Width
124  1000.0     39.8     43.0     45.2  11.9328  7.2772
49    161.0     22.0     23.4     26.7   6.9153  3.6312
68    145.0     19.8     21.5     24.1   9.7364  3.1571
2     340.0     23.9     26.5     31.1  12.3778  4.6961
59    800.0     33.7     36.4     39.6  11.7612  6.5736

In [11]:
##  visualization of the x_test data 
x_test.head()

     Weight  Length1  Length2  Length3   Height  Width
35     40.0     12.9     14.1     16.2   4.1472  2.268
85    130.0     19.3     21.3     22.8   6.3840  3.534
47    160.0     21.1     22.5     25.0   6.4000  3.800
24    700.0     31.9     35.0     40.5  16.2405  5.589
129   300.0     31.7     34.0     37.8   5.7078  4.158

In [12]:
## initializing the support vector machine classification 
svm=SVC(kernel= 'linear')
svm.fit(x_train,y_train)

SVC(kernel='linear')

In [13]:
#  prefdicting the output for taringing data with 
y_pred=svm.predict(x_test)
confusion_matrix(y_test,y_pred)

array([[6, 0, 0, 0, 0, 0, 0],
       [0, 4, 0, 0, 0, 0, 0],
       [0, 0, 9, 0, 0, 0, 0],
       [0, 0, 0, 3, 0, 0, 0],
       [0, 0, 1, 0, 4, 0, 0],
       [0, 0, 0, 0, 0, 3, 0],
       [0, 0, 0, 0, 1, 0, 1]], dtype=int64)

In [14]:
y_pred

array(['Perch', 'Perch', 'Roach', 'Bream', 'Pike', 'Perch', 'Pike',
       'Bream', 'Whitefish', 'Perch', 'Parkki', 'Parkki', 'Roach',
       'Bream', 'Roach', 'Smelt', 'Perch', 'Bream', 'Parkki', 'Perch',
       'Bream', 'Perch', 'Smelt', 'Perch', 'Bream', 'Roach', 'Perch',
       'Roach', 'Pike', 'Smelt', 'Perch', 'Parkki'], dtype=object)

In [15]:
y_test

35         Roach
85         Perch
47         Roach
24         Bream
129         Pike
95         Perch
128         Pike
10         Bream
58     Whitefish
104        Perch
69        Parkki
63        Parkki
39         Roach
20         Bream
38         Roach
151        Smelt
101        Perch
1          Bream
67        Parkki
99         Perch
19         Bream
97         Perch
157        Smelt
102        Perch
21         Bream
43         Roach
83         Perch
56     Whitefish
134         Pike
147        Smelt
87         Perch
70        Parkki
Name: Species, dtype: object

In [16]:
svm.score(x_test,y_test)

0.9375